<%= form_with(model: breeder) do |form| %>
  <% if breeder.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(breeder.errors.count, "error") %> prohibited this breeder from being saved:</h2>

      <ul>
        <% breeder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :history, style: "display: block" %>
    <%= form.text_area :history %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
